:root {
    --background-dark: #000000;
    --background-light: #222222;
    --color-primary: #e0e5ff;
    --color-white: #ffffff;
  }

  .BodyRegister{
    min-height: calc(100vh - 102px);

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .SubmitButton{
    margin-left: 80px;
  }

  .UsernameArea{
    p{
      display: flex;
      flex-direction: row;
    }
  }

  .tooltip {
    margin-left: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: #eaff00;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .tooltip:hover {
    background-color: #ffffff;
  }
  
  
  .RegisterForm {
    background-color: var(--background-dark);
    width: 250px;

    padding: 15px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;

    border: 1px solid #FFFFFF;

    input {
        background-color: transparent;
        color: #000000;
        border: 1px solid var(--color-primary);
        margin-left: 10px;
    }
  }
  
  
  
  .RegisterForm h2,
  .RegisterForm label {
    color: var(--color-white);
  }
  
  .UserId {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .UserId div input {
    width: fit-content;
  }
  
  .PasswordArea {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
  }
  
  .PasswordArea input {
    width: 200px;
  }
  
  .LightBodyRegister {
    background-color: var(--background-light);
    color: var(--color-white);
    
    .RegisterForm{
      background-color: #FFFFFF;
    }

  }



  .Error{
    color: #FF0000;
  }
  
  .RegisterHomepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .PasswordConditions {
    color: #FF0000;
  }
  
  button {
    background-color: var(--background-light);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  

  .Mail{
    padding: 0px 10px;
    margin: 0;
  }

  .MDP{
    padding: 0px 10px;
    margin: 0;
  }

  .Confirm{
    padding: 0px 10px;
    margin: 0;
    margin-top: 10px;
  }
  