
.LightBody{
    .MenuBar{
        background-color: #bad0ff;
        button{
            color: #000000
        };
    }
    .ToolsBar{
        background-color: #bad0ff;
    }
    .ContentArea {
        display: flex;
        justify-content: center;
    
        .Content {
            background-color: #1b182c;
    
            width: 595px;
            height: 842px;
    
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
    
            margin: 50px 0px;
            
                input{
                    background-color: #d3e1ff;
                    color: #000000;
    
                    display: flex;
                    justify-content: start;
                    align-items: start;
    
                    width: 100%;
                    height: 100%;
                    border: none;
                }
        }
    }
    .StatusBar{
        background-color: #bad0ff;
    }
}



.DarkBody{
    .ContentArea {
        display: flex;
        justify-content: center;
    
        .Content {
            background-color: #1b182c;
    
            width: 595px;
            height: 842px;
    
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
    
            margin: 50px 0px;
            
                input{
                    background-color: #696969;
                    color: #000000;
    
                    display: flex;
                    justify-content: start;
                    align-items: start;
    
                    width: 100%;
                    height: 100%;
                    border: none;
                }
        }
    }
}