.WritingCoursesPage {
    .MenuBar {
        display: flex;
        position: inherit;
        justify-content: space-between;
        background-color: #0d0d33;
        padding: 5px 10px;
        height: 35px;
        overflow-x: auto; 
        white-space: nowrap;
    }

    .MenuBar .Left ul,
    .MenuBar .Right ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .MenuBar .Left ul button,
    .MenuBar .Right ul button {
        background: none;
        border: none;
        color: #B0E0E6;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 14px;
        white-space: nowrap; /* Empêche les boutons de se mettre sur plusieurs lignes */
    }

    .MenuBar .Left ul button:hover,
    .MenuBar .Right ul button:hover {
        background-color: #444;
    }

    .ContextMenus button {
        background: none;
        border: none;
        color: #555555;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 14px;
        white-space: nowrap; /* Empêche les boutons de se mettre sur plusieurs lignes */
    }

    .ContextMenus button:hover {
        background-color: #444;
    }

    @media (max-width: 1500px) {
        .ContextMenus {
            display: none;
        }
    }
}


