.WritingCoursesPage {
    .ToolsBar {
        background-color: #191938;
        color: white;
        height: 50px;
        overflow-x: auto;
        white-space: nowrap;
        position: inherit;
    }

    .HomeMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .HomeMenu .Left,
    .HomeMenu .Center {
        display: flex;
    }

    .HomeMenu label {
        padding: 10px;
        cursor: pointer;
        white-space: nowrap;
    }

    .HomeMenu label:hover {
        background-color: #5a5a5a;
    }

    img {
        width: 20px;
        height: 20px;
    }

    .TextFormatToolbar {
        display: flex;
        align-items: center;
    }

    .ColorPicker {
        display: flex;
        align-items: center;
        position: relative;

        border: 1px solid #FFFFFF;
        height: 26px;

        p {
            margin-left: 0px;
            padding: 5px 5px;
        }

        .ColorPickerDropdown {
            display: none;
            margin: 0px;
            padding: 0px;
        }

        label {
            padding: 0px;
            margin: 0px;
        }

        .Color {
            display: flex;
            flex-direction: column;
            border-Center: 1px solid #FFFFFF;
            padding-Center: 10px;

            .CurrentColorIndicator {
                width: 100%;
                height: 4px;
                background-color: #ff0000; /* Couleur par défaut, mais sera mis à jour par React */
                margin-top: 2px;
                border: 1px solid white;
            }

            .ApplyColorButton {
                background-color: #00000000;
                padding: 0px;
                border-radius: 0px;
                border: none;
                color: white;
                cursor: pointer;
                width: 100%;
            }

            .ApplyColorButton:hover {
                background-color: #7a7a7a;
            }

            p {
                border: 1px solid #FFFFFF;
                width: 15px;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    button {
        margin-top: 0px;
        margin-left: 5px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #7a7a7a;
    }
    button.active {
        background-color: #7a7a7a;
        color: white;
    }
    
}
