.TabBar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #000000;
    border-bottom: 1px solid #FFFFFF;
    padding: 5px;
}

.Tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #000000;
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.Tab.active {
    border: 2px solid #FFFFFF;
    background-color: #06234e;
    color: #FFFFFF;
    font-weight: bold;
}

.Tab button {
    padding: 0px 10px;
    margin: 0px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.Tab input.editingInput {
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    padding: 5px;
    font-size: 14px;
}
