.TabBar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #000000;
    border-bottom: 1px solid #FFFFFF;
    z-index: 5;
}

.Tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #000000; /* Ajout d'un fond pour distinguer l'onglet actif */
    margin-right: 5px; /* Ajout d'une marge pour séparer les onglets */
}

.Tab.active {
    border: 2px solid #ffffff; /* Couleur dorée pour mettre en évidence */
    background-color: #06234e; /* Changer la couleur de fond */
    color: #FFFFFF; /* Changer la couleur du texte */
    height: 30px;
    font-weight: bold; /* Mettre en gras */
}

.Tab button {
    padding: 0px 10px;
    margin: 0px;
    background-color: #00000000;
    border: none; /* Supprime la bordure par défaut */
    color: #FFFFFF;
}

.Tab input.editingInput {
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    padding: 5px;
}


