
.ContentArea {
    display: flex;
    justify-content: center;

    .Content {
        background-color: #282536;

        width: 595px;
        height: 842px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 50px 0px;

        overflow: hidden;
    }
}