.WritingCoursesPage {
    .ContentArea {
        display: flex;
        justify-content: center;
        padding: 10px;
        min-height: calc(100vh - 157px);
        background-color: #000000; 
    }

    .Content {
        background-color: #ffffff;
        width: 595px; 
        height: 842px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 50px 0; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .EditableContent {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 10px;
        font-size: 16px;
        font-family: Arial, sans-serif;
        border: none;
    }

    .DarkBody .Content {
        background-color: #29292b; 
    }

    .DarkBody .EditableContent {
        color: #ffffff;
    }

}
