/* Styles généraux */
a {
  text-decoration: none;
  color: #b4c4fd;
}

a:visited {
  color: #A0AEC0;
}

.Responsive1 {
  display: none;
}

.NiveauxResponsive {
  display: none;
}

.EpinglesResponsive {
  display: none;
}

.NavBarSecondary {
  position: sticky;
  top: 60px;
  z-index: 10;
  color: #fff;
  min-height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.LeftSide ul {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.LeftSide li {
  margin-left: 15px;
}

.RightSide {
  display: flex;
  align-items: center;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.Center button {
  height: 30px;
  background-color: #000000;
  margin-top: 0px;
  padding-top: 6px;
  border: 1px solid #FFFFFF;
}

.RightSide ul {
  display: flex;
  flex-direction: row;
}

.RightSide li {
  margin-right: 15px;
}

.DarkTheme{
  .GiftResponsive{
    border: 1px solid #000000;
    img{
      width: 30px;
      height: 30px;
    }
    .NavBarSecondary{
      border: 1px solid #FFFFFF;
    }
}}


.LightTheme {
  


  .GiftResponsive{
    border: 1px solid #000000;
    img{
      width: 30px;
      height: 30px;
    }
  }
  

.NiveauxResponsive{
    color: #000000;
  }

.EpinglesResponsive{
    color: #000000;
  }

  .WidgetsDropdown{
    background-color: #fff;
    border-color: #000000;
  }
  .DragableWidget{
    background-color: #FFFFFF;
    border: 1px solid #000000;
  }
  .CalendarWidget{
    background-color: #FFFFFF;
  }
  .DaysRow p{
    color: #000000;
  }

  .WidgetHeader{
    background-color: #FFFFFF;
    position: sticky;
    height: 30px;
    top: 0;
  }

  .NoteWidget{
    background-color: #FFFFFF;
    color: #000000;
  }
  .NoteTextArea{
    background-color: #FFFFFF;
    color: #000000;
  }
  .CalendarWidget{
    .DateSelection{
      border-bottom: 1px solid #000000;
      color: #000000;
      button{
        color: #000000;
        border: 1px solid #000000;
      }
    }
    button{
      color: #000000;
      border: 1px solid #000000;
    }
  }
  .todo-list-widget{
    background-color: #FFFFFF;
    span{
      color: #000000;
    }
  }
}

.LightTheme .Center button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}



/* Style pour la div des widgets en position absolue */
.WidgetsDropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  margin-left: 23px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.WidgetsDropdown button {
  display: block;
  padding: 10px;
  cursor: pointer;
}

/* Style pour les widgets déplaçables */
.DragableWidget {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: grab;
  overflow: hidden;

  .DaysRow{
    display: flex;
    overflow-y: scroll;
  }
}

.DragableWidget:active {
  cursor: grabbing;
}

.WidgetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #000000;
  border-bottom: 1px solid #ccc;
  button{
    margin-top: 0px;
  }
}

.CloseButton {
  background-color: #003cff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CloseButton:hover {
  background-color: #003cff;
}

/* Poignée de redimensionnement */
.ResizeHandle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  cursor: nwse-resize;
  border-bottom-right-radius: 8px;
}

@media (max-width: 1250px) {
  .Center {
    margin-left: 30px;
  }

  .NavLink{
    display: none;
  }

  .Responsive1 {
    display: flex;
    padding: 0 10px;
  }

  .NiveauxResponsive {
    display: flex;
  }

  .EpinglesResponsive {
    display: flex;
    color: #003cff;
  }
}



.EpinglesResponsive {
  color: #003cff;
}

@media (min-width : 1251px){
  .Niveaux{
    display: none;
  }
}