a {
    text-decoration: none;
    color: #7289DA;
  }
  a:visited {
    color: #A0AEC0;
  }
  
  .Responsive1 {
    display: none;
  }
  
  .NavBarSecondary {
    position: sticky;
    top: 60px;
    color: #fff;
    min-height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #FFFFFF;
    border-: 1px solid #FFFFFF;
  
    .LeftSide ul {
      display: flex;
      flex-direction: row;
  
      li {
        margin-left: 15px;
      }
    }
  
    .RightSide {
      display: flex;
      align-items: center;
    }
  
    .Center {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
  
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #000;
        width: 100px;
        height: 30px;
        margin-top: 0px;
        border-radius: 15px;
        border: 1px solid #000;

      }
    }
  
    .RightSide ul {
      display: flex;
      flex-direction: row;
  
      li {
        margin-right: 15px;
      }
    }
  }
  
  @media (max-width: 1250px) {
    .LeftSide ul li {
      display: none;
    }
  
    .Center {
      padding-left: 40px;
    }
  
    .RightSide ul li {
      display: none;
    }
  
    .Responsive1 {
      display: flex;
      padding: 0 10px;
    }
  }
  