
    .NavBarSecondary{
    

    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;

    min-height: 40px;
    line-height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;


    .LeftSide ul{
        display: flex;
        flex-direction: row;
        margin-left: 15px;    
        li{
            margin-left: 15px;    
        }
    }

    .Center{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFFFFF;
            color: #000000;
            width: 100px;
            height: 25px;
            margin-top: 0px;
        }
    }

    .RightSide ul{
        display: flex;
        flex-direction: row;
        margin-right: 15px;
        li{
            margin-right: 15px;    
        }
    }
}    
