
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #000000;
}
.ContainerCGU {
    max-width: 800px;
    margin: 20px auto 20px auto;
    background: #cde3ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ContainerCGU{
    h1, h2, h3 {
        color: #000000;
    }
}
p {
    margin: 0.5em 0;
}
.ContainerCGU{
    a {
        color: #007BFF;
        text-decoration: none;
    }
}
a:hover {
    text-decoration: underline;
}