.HomePageBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 101px);

    h1{
        margin : 20px;
        
    }

    p{
        margin: 10px;
    
    }

}
.DarkBody{
    background-color: #000000;
    color: #FFFFFF;
    min-height: 100vh;
}

.LightBody{
    background-color: #222222;
    color: #FFFFFF;
    min-height: 100vh;
}