.CalendarWidget {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #000000;
  border: 1px solid #ccc;
}

.CalendarWidget table {
  width: 100%;
  border-collapse: collapse;
}

.CalendarWidget p, .CalendarWidget td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.DaysRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.DaysRow p {
  flex: 1 1 14%;
  box-sizing: border-box;
  text-align: center;
}
