.todo-list-widget {
    padding: 10px;
    background-color: #000000;
  }
  
  .todo-list-widget ul {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-list-widget label {
    margin-bottom: 5px;
  }
  