li{
    list-style-type: none;
}

a{
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

p{
    color: #FFFFFF;
}



.Footer{
    height: 50px;
    line-height: 50px;    
    background-color: #070025;

    display: flex;
    justify-content: center;
    align-items: center;
}