@media (min-width : 1201px) {
    
    .FondatorBody{
        width: 100%;
        min-height: calc(100vh - 101px);
        height: 200vh;
        display: flex;
        flex-direction: row;


        .NavPanel{
            background-color: #252247;

            width: 20%;
            height: 100vh;

            top: 0;
            left: 0;
            position: sticky;

            padding: 15px;
        }

        .ViewPanel{
            overflow: hidden;
            .GlobalDatas{
                display: flex;
                flex-direction: row;
                margin-top: 50px;
                margin-left: 50px;
                gap: 10px;

                .GlobalDatasCard{
                    background-color: #252247;

                    height: 200px;
                    width: 300px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

                .Expenses{
                    background-color: #252247;

                    height: 500px;
                    width: 920px;

                    margin-top: 50px;
                    margin-left: 50px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
        }
    }
}




@media (max-width : 1200px) {
    
    .FondatorBody{
        width: 100%;
        min-height: calc(100vh - 101px);
        height: 200vh;
        display: flex;
        flex-direction: row;


        .NavPanel{
            background-color: #252247;

            width: 20%;
            height: 100vh;

            top: 0;
            left: 0;
            position: sticky;

            padding: 15px;
        }

        .ViewPanel{
            overflow: hidden;
            .GlobalDatas{
                display: flex;
                flex-direction: row;
                margin-top: 50px;
                margin-left: 50px;
                gap: 10px;

                .GlobalDatasCard{
                    background-color: #252247;

                    height: 200px;
                    width: 300px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

                .Expenses{
                    background-color: #252247;

                    height: 500px;
                    width: 920px;

                    margin-top: 50px;
                    margin-left: 50px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
        }
    }
}