.Container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.Body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
    .CoursesArea{
        display : flex;
        height: calc(100vh - 202px);
    }
}

