.Container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.Body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
    .CoursesArea{
        display : flex;
    }
}

