.Container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.Body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .CoursesArea{
        display : flex;
        height: calc(100vh - 202px);
    }
}

.Dev{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}


.LightTheme{
  
    .NavBarSecondary{
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
    }
  }