.BodyLogin {
  background-color: #140a3d;

  border-radius: 30px;

  .LoginForm {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  h1{
    color: #FFFFFF;
  }
  label {
    color: #FFFFFF;
  }

  .ErrorLogin {
    color: #FF0000;
    display: none;
  }

  .LoginHomepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}