.BodyLogin {
  background-color: #140a3d;

  border-radius: 30px;

  .LoginForm {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  
  input{
    background-color: #e0e5ff00;
    color: #e0e5ff;
    border: #e0e5ff 1px solid;
    margin-left: 10px;
  }


  h1{
    color: #FFFFFF;
  }
  label {
    color: #FFFFFF;
  }

  .ErrorLogin {
    color: #FF0000;
    display: none;
  }

  .LoginHomepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}