*{
  padding: 0;
  margin: 0;
}

.AppDark{
  background-color: #000000;
  min-height: 100vh;
  width: 100vw;
}

.AppLight{
  background-color: #FFFFFF;
  min-height: 100vh;
  width: 100vw;
}
