.ExcelCalendInitPage{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .ExcelCalendInitBody{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Sommary{
            position: absolute;
            left: 10px;
        }
    }
}