li{
    list-style-type: none;
}

a{
    color: #7289DA;
    text-decoration: none;
    cursor: pointer;
}
a:visited{
    color: #A0AEC0;
}

p{
    color: #FFFFFF;
}


.NavBarPrimary {
    position: sticky;
    top: 0px;

    min-height: 60px;
    line-height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    

    .LeftSide{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
    }
    .LeftSide > li{
        margin-left: 15px;
    }



    .UniversityCoursesDropDown {
        display: none; 
        position: absolute;
        background-color: #070025; 
    }
    
    .UniversityCourses:hover .UniversityCoursesDropDown{
        display: block;
        width: 200px;
        li {
            line-height: 50px;
            border: 1px solid #3b3b3b;
        }
    }


    .NavBarPrimary ul li:hover {
        display: block;
        background-color: #5A0026;
    }

    .NavBarPrimary li ul li:hover {
        display: block;
        background-color: #5A0026;
    }


    .RightSide{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;

        > li{
            margin-right: 15px;
        }
        @media (min-width : 1251px) {
            
        .Gift{
            background-color: #FFFFFF;
            color: #000000;


            height: 30px;
            line-height: 30px;
            width: 210px;

            display: flex;
            flex-direction: row;

            margin-right: 20px;

            border: 2px solid #070025;
            border-radius: 15px;

            img{
                margin: 0px 10px;
            }

        }
        .GiftResponsive{
            display: none;
        }
        }
    }

    
    @media (min-width : 1251px) {
    .SearchBarContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .SearchBarContainerResponsive{display: none;}
        
    .SearchBar{
        background-color: #FFFFFF;
        color: #000000;
        border: 1px solid #070025;
        width: 150px;
        height: 30px;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 10px;

        input{
            border: none;
            width: 100%;
            height: 100%;
            color: #000000;
            border-radius: 15px;
            padding-left: 10px;

        }
        input:focus{
            outline: none;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }
    
}

}

.DarkTheme{
    background-color: #000000;
    .DarkLightThemeToggle{
        background-color: #FFFFFF30;

        width: 50px;
        height: 24px;

        border-radius: 12px;
        margin-left: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;

    
        input {
            visibility: hidden;
        }
        
        .DarkLightThemeSlider {
            position: relative;
            left: 13px;
            bottom: 10px;
        }

        ::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: #000000;
            transition: transform 0.3s ease;
        }

        input:checked + .DarkLightThemeSlider::before {
            transform: translateX(-24px);
        }
    }
    .Logo{
        width: 120px;
        height: 100%;
        background-image: url('../LogoCentralisinfos/300ppi/LOGO3.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
  
.LightTheme{
    background-color: #ffffff;
    .DarkLightThemeToggle{
        background-color: #000000;

        width: 50px;
        height: 24px;

        border-radius: 12px;
        margin-left: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;

    
        input {
            visibility: hidden;
        }
        
        .DarkLightThemeSlider {
            position: relative;
            left: 13px;
            bottom: 10px;
        }

        ::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: #FFFFFF;
            transition: transform 0.3s ease;
        }

        input:checked + .DarkLightThemeSlider::before {
            transform: translateX(-24px);
        }
    }
    .Logo{
        width: 120px;
        height: 100%;
        background-image: url('../LogoCentralisinfos/300ppi/LOGO1.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
  
@media (max-width : 1250px) {
    nav ul li{
        display: none;
    }
    .SearchBar{
        display: none;
    }
    .SearchBarContainer{
        display: none;
    }
    .SearchBarContainerResponsive{
        display: flex;
        justify-content: center;
        align-items: center;
       
    .SearchBarResponsive{
        background-color: #FFFFFF;
        border: 1px solid #070025;
        color: #000000;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0px;

        input{
            width: 10px;
            border: none;
            display: none;
        }

        input:focus{
            outline: none;
        }

        img{
            width: 20px;
            height: 20px;
        }
    } 
    }
    .Gift{
        display: none;
    }
    .GiftResponsive{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        background-color: #fff;
        img{
        width: 30px;
        height: 30px;
    }
    }
    
.DarkTheme{
    background-color: #000000;
    .Logo{
        width: 80px;
        height: 100%;
        background-image: url('../LogoCentralisinfos/300ppi/LOGO6.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
  
.LightTheme{
    background-color: #ffffff;
    .Logo{
        width: 120px;
        height: 100%;
        background-image: url('../LogoCentralisinfos/300ppi/LOGO4.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

}