*{
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

h1{
    text-align: center;
}

p{
    font-size: 20px;
}

body {
    background-color: #000000;
    min-height: 100vh;
    width: 100vw;
}

.CoursePage{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .Sommary{
        background-color: #070025FF;
        border: 1px solid #FFFFFF;
        width: 25%;
        margin: 20px 20px;
        border-radius: 20px;
        text-align: center;
        padding-top: 20px;
    }

    .Section{
        margin: 50px 0px;
        
    }

    .CourseBody{
        width: 60%;
    }

    pre{
        display: flex;
        align-items: start;
        padding: 20px;
        overflow-x: scroll;
        background-color: #222222;
    }
    code{
        font-size: 15px;
    }

}